@import "./syntax-highlight.css";
@import "./toc.css";
@import "./katex.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-slate-800;
}

body {
  @apply dark:text-gray-100;
}

@media (max-width: 1103px) {
  #side-tag-bar {
    display: none;
  }
}

.markdown {
  @apply dark:text-gray-100 break-words box-border tracking-wide;
}

.markdown > * + * {
  @apply mt-2 mb-2;
}

.markdown time {
  @apply mt-0 mb-2;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-bold;
}

.markdown strong a {
  @apply font-bold;
}

.markdown p {
  @apply text-base leading-7 my-4;
}

.markdown blockquote > p {
  @apply text-sm;
}

.markdown h1 {
  @apply leading-tight text-3xl mb-0 mt-6 pb-2 font-bold;
}


html:not(.dark) .markdown h2 {
  @apply leading-tight text-2xl mb-4 mt-6 pb-2 font-bold bg-amber-500 p-2 rounded;
}

html.dark .markdown h2 {
  @apply leading-tight text-2xl mb-4 mt-6 pb-2 font-bold bg-amber-600 p-2 rounded;
}


html:not(.dark) .markdown h3 {
  @apply leading-snug text-lg mb-4 mt-6 font-bold border border-amber-500 border-l-8 border-l-amber-500 p-1;
}

html.dark .markdown h3 {
  @apply leading-snug text-lg mb-4 mt-6 font-bold border border-amber-600 border-l-8 border-l-amber-500 p-1;
}


.markdown h4 {
  @apply leading-none text-base mb-4 mt-6;
}

.markdown h5 {
  @apply leading-tight text-sm font-semibold mb-4 mt-6;
}

.markdown h6 {
  @apply leading-tight text-sm font-semibold text-gray-600 mb-4 mt-6;
}

.markdown blockquote {
  @apply text-sm border-l-4 border-gray-300 pl-4 pr-4 text-gray-600 dark:text-gray-300;
}


/* 複数テーマ */
.markdown code[data-theme="material-theme-palenight everforest-light"] {
  @apply font-mono text-sm rounded tracking-wide;
}

.markdown code:not([data-theme="material-theme-palenight everforest-light"]) {
  @apply font-mono text-sm inline bg-gray-200 text-gray-600 dark:bg-gray-600 dark:text-gray-200 rounded px-1.5 py-1 mx-0.5 tracking-wide;
}

html:not(.dark) .markdown code[data-theme*="everforest-light"] span {
  color: var(--shiki-light);
  /* background-color: var(--shiki-light-bg); */
}
html:not(.dark) .markdown code[data-theme*="everforest-light"] mark span {
  background-color: transparent;
}

html.dark .markdown code[data-theme*="material-theme-palenight"] span {
  color: var(--shiki-dark);
  /* background-color: var(--shiki-dark-bg); */
}
html.dark .markdown code[data-theme*="material-theme-palenight"] mark span {
  background-color: transparent;
}

/* インラインコード */
html:not(.dark) .markdown span code[data-theme*="everforest-light"] span {
  background-color: var(--shiki-light-bg);
  padding: 0.2em 0.2em;
  border-radius: 4px;
}

html.dark .markdown span code[data-theme*="material-theme-palenight"] span {
  background-color: var(--shiki-dark-bg);
  padding: 0.2em 0.2em;
  border-radius: 4px;
}

html:not(.dark) .markdown pre[data-theme*="everforest-light"] {
  @apply bg-gray-100 rounded p-1;
  background-color: var(--shiki-light-bg);
}

html.dark .markdown pre[data-theme*="material-theme-palenight"] {
  @apply bg-gray-100 rounded p-1;
  background-color: var(--shiki-dark-bg);
}

.markdown pre code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}

.markdown ul {
  @apply text-base pl-8 list-disc;
}

.markdown ol {
  @apply text-base pl-8 list-decimal;
}

.markdown kbd {
  @apply text-xs inline-block rounded border px-1 py-5 align-middle font-normal font-mono shadow;
}

.markdown table {
  @apply text-base border-gray-600;
}

.markdown th {
  @apply border py-1 px-3;
}

.markdown td {
  @apply border py-1 px-3;
}

/* Override pygments style background color. */
.markdown .highlight pre {
  @apply bg-gray-100 !important;
}

.markdown .accordion-header {
  @apply p-2
}

.markdown .accordion-header:hover {
  @apply text-fuchsia-300
}

.source {
  @apply text-right italic;
}

.data-footnote-backref {
  @apply text-sm;
  font-family: Hiragino Kaku Gothic ProN;
}

.sr-only {
  @apply border-t border-gray-300 my-3;
}

html:not(.dark) .markdown .note {
  @apply flex items-start p-2 bg-[#bdff8b] rounded-[20px] my-2;
}

html.dark .markdown .note {
  @apply flex items-start p-2 bg-[#2B6300] rounded-[20px] my-2;
}
.markdown .note svg path {
  fill: #067c06; /* 通常モードの濃い緑 */
}

html.dark .markdown .note svg path {
  fill: #76fe76; /* ダークモードの明るい緑 */
}

.markdown .note svg {
  margin-right: 10px;
  flex-shrink: 0;
  padding-top: 4px;
}

.markdown .note-content {
  display: flex;
  flex-direction: column;
}

.markdown .note-content p {
  margin: 0;
}

.markdown .note-content strong {
  padding-left: 5px;
}

/* テーブル */
.markdown table {
  @apply w-full border-collapse overflow-hidden rounded-sm;
}

.markdown th {
  @apply px-4 py-2 bg-indigo-300 text-left text-gray-800 dark:bg-gray-700 dark:text-gray-100;
}

.markdown td {
  @apply px-4 py-2 border-t border-indigo-300 text-gray-700 dark:border-gray-600 dark:text-gray-200;
}

.markdown tbody tr:nth-child(even) {
  @apply bg-indigo-100 dark:bg-gray-800;
}

.markdown tbody tr:nth-child(odd) {
  @apply bg-white dark:bg-gray-900;
}